

<div class="menu">
<h1>Blah Blah Blogs </h1>
<ul>
<%= link_to "Home", root_path %>
<%= link_to "About Us", about_us_path %>
<%= link_to "Contact Us", contact_us_path %>
<%= link_to "Sign In", signin_path, class: "btn btn-primary"%>
<%= link_to "Sign Up", signup_path %>
</ul>
</div>
