  <h3 id="header">Posts </h3>

<div class="category">
  <h3 id="category">Categories</h3>
  <%= link_to "All", posts_path %>
<% Category.all.each do |category| %>
  |<%=link_to category.category, posts_path(category_id: category.id) %>
<% end %>
</div>


<% @posts.reverse_each do |post| %>
<div class = "textfield3">
  <p id = "title"><%= post.title %></p>
  <p id = "body"><%= post.body %></p>

  <%= post.category.category %>

</div>
<% end %>
<br><br><br><br>
