<div class="textfield">
  <%= form_for @post do |f| %>
  <h2>Blogs</h2>
  <h3><%= f.label :Category %></h3>
  <%= collection_select(:post, :user_id, Category.all, :id, :category, {include_blank: "Please choose a category" }) %>
  <br>
  <h3><%= f.label :Title %></h3>
  <%= f.text_area :title %>
  <br>
  <h3><%= f.label :Body %></h3>
  <%= f.text_area :body %>
  <br><br>
  <%= f.submit "Submit", class: "css_button" %>
  <% end %>
</div>
