<!DOCTYPE html>
<html>
<head>
  <title>BlahBlahBlogs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div class= "links">
    <% if current_user %>
    <%= link_to "Users", users_path, class: "btn" %>
    <%= link_to "Blog", blog_path, class: "btn" %>
    <%= link_to "Sign Out", signout_path, class: "btn" %>
    <% else %>
    <%= link_to "Sign In", signin_path, class: "btn" %>
    <%= link_to "Sign Up", sign_up_path, class: "btn" %>
    <% end %>
  </div>
  <br>
  <div class="container">
    <div class="menu">
      <h1><img src=""/>Blah Blah Blogs</h1>
      <% if current_user != nil %>
      <% if Authentication.find_by(:user_id => current_user.id) %>
      <h3><img src="http://www.nmra2015portland.org/sites/default/files/images/twitter_logo_40x40.png"/>witter handle: <%= current_user.nickname %></h3>
      <% else %>
      <h3>Nickname: <%= current_user.nickname %></h3>
      <% end %>
      <% else %>
      <h4>NO USER LOGGED IN<h4>
        <% end %>
      </div>
      <% if notice.present? %>
      <div class="notice">
        <%= notice %>
      </div>
      <% end %>
    </head>
    <br>
    <body>

      <%= yield %>

    </body>
    <br>
    <footer>
      <br>
      <%= link_to "Home", root_path, class:"btn" %>
      <%= link_to "Contact Us", contact_us_path, class: "btn" %>
      <%= link_to "About Us", about_us_path, class: "btn" %>
      <p>
        Created by Mac Daddy
      </p>
    </footer>
  </div>
  </html>
