<!DOCTYPE html>
<html>
<head>
  <title>BlahBlahBlogs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header-center">
        <a class="navbar-brand", <%= link_to "Blah Blah Blogs", root_path  %></a>

      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <% if current_user %>
          <button><%= link_to "Blog", blog_path %></button>
          <button><%= link_to "Sign Out", signout_path  %></button>
          <button><%= link_to "Posts", posts_path %></button>
          <% else %>
          <button><%= link_to "Sign In", signin_path %></button>
          <button><%= link_to "Sign Up", sign_up_path %></button>
          <% end %>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <br><br><br>
  <div class="menu">
      <h1>Blah Blah Blogs</h1>
    <% if current_user != nil %>
    <% if Authentication.find_by(:user_id => current_user.id) %>
    <h3><img src="http://www.nmra2015portland.org/sites/default/files/images/twitter_logo_40x40.png"/>witter handle: <%= current_user.nickname %></h3>
    <br>
    <% else %>
    <h3>Nickname <%= current_user.nickname %></h3>
    <% end %>
    <% else %>
    <h4>NO USER LOGGED IN<h4>
      <% end %>
    </div>
    <% if notice.present? %>
    <div class="notice">
      <%= notice %>
    </div>
    <% end %>
  </head>
  <br>
  <body>

    <%= yield %>
    <br>

  </body>
  <br>
  <footer>
    <nav class="navbar navbar-inverse navbar-fixed">
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar">
          <button><%= link_to "Contact Us", contact_us_path %></button>
          <button><%= link_to "About Us", about_us_path %></button>
          <p> Created by Mac Daddy</p>
        </form>
      </div>
    </nav>
  </footer>
  </html>
