<!DOCTYPE html>
<html>
<head>
  <title>BlahBlahBlogs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header-center">
        <a class="navbar-brand", <%= link_to "Blah Blah Blogs", root_path %></a>

      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <% if current_user %>
          <%= link_to "Blog", blog_path, class: "btn btn-primary" %>
          <%= link_to "Sign Out", signout_path, class: "btn btn-primary" %>
          <%= link_to "Posts", posts_path, class: "btn btn-primary", class: "btn btn-primary" %>
          <% else %>
          <%= link_to "Sign In", signin_path, class: "btn btn-primary" %>
          <%= link_to "Sign Up", sign_up_path, class: "btn btn-primary" %>
          <% end %>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>

  <br><br><br>
  <div class="menu">
    <h1>Blah Blah Blogs</h1>
    <% if current_user != nil %>
    <% if Authentication.find_by(:user_id => current_user.id) %>
    <div class="twitter">
      <h3>Twitter handle: <%= current_user.nickname %></h3>
    </div>
    <br>
    <% else %>
    <h3><%= current_user.nickname %></h3>
    <% end %>
    <% else %>
    <h4>NO USERS LOGGED IN !<h4>
      <% end %>
    </div>
    <% if notice.present? %>
    <div class="notice">
      <%= notice %>
    </div>
    <% end %>
  </head>
  <br>
  <body>

    <%= yield %>
    <br>

  </body>
  <br>
  <footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar">
          <%= link_to "Contact Us", contact_us_path, class: "btn btn-primary" %>
          <%= link_to "About Us", about_us_path, class: "btn btn-primary" %>
        </form>
      </div>
    </nav>
  </footer>
  </html>
